.intro-container {
    margin-top: 15vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px; 
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-left: 10px;
    padding-right: 5px;
    flex-direction: column;
}

.about span {
    padding-top: 10px;
}
