.start-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn-card {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.start-btn {
    border-width: 1px;
    border-color: orange;
    padding-left: 0.25rem;
    font-size: x-large;
    border-radius: 5px; 
    cursor: pointer;
}

.neet-img {  
    object-fit: cover;
    padding: 0rem 3rem;
}